.MainPage {
  position: relative;
  top: 20px;
  left: 20vw;
  margin: auto;
  width: 75vw;
  padding-bottom: 20px;
}

.Header {
  position: absolute;
  top: 20px;
  left: 20vw;
  margin: auto;
  width: 75vw;
  padding-bottom: 20px;
}

.Row {
  height: 650px;
  display: flex;
  padding: 10px 0px;
  gap: 20px;
}

.Row-1 {
  height: 750px;
  display: flex;
  padding: 10px 0px;
  gap: 20px;
}
